img {
  width: 100%;
  height: auto;
  display: block;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 60px;
}

.tekst_med_baggrund {
  background-color: rgba(209, 108, 145, 0.8);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  display: inline-block;
  border-radius: 5px;
}
